{% extends 'home/base.html' %}

{% block content %}
{% if users %}
<h3 class="text-primary" style="margin-top:3rem ;">These Profiles are recommended to you based on your existing connections and your request sent to different profiles:</h3><hr>

  {% for profile in users %}
  <div class="card mb-3" style="max-width: 540px; ">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{profile.userr.profile_pic.url}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">****** {{profile.last_name}}</h5>
          <i class="fas fa-map-marker-alt"></i><tb>&nbsp{{profile.userr.location.capitalize}}<br>
          
          {{ profile.userr.get_age}} years old <br>
          {{profile.userr.religion.capitalize}}<br>
          <p class="card-text">Here lies the short and sweet information about the user</p>
         
          <a href={% url 'user_profile:profile-detail' profile.id %} class="btn btn-primary">View Profile</a> <span style="float:right;color:green;"> {{profile.final_match}}% Match</span>
          <p class="card-text"><small class="text-muted">Joined on {{profile.date_joined |date:"d M, Y" }}</small></p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% else %}
    <p style="margin-top:3rem">Opps! No any recommendations for you. Try sending requests to some users first</p>
{% endif %}    
{% endblock content %}